@model WebApplication1.Models.Adviewmodel 
@{
    ViewBag.Title = "ViewAd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    td{ padding:10px;


    }

</style>


<div class="row">

    <div class="col-lg-2 col-md-2">
        @*<img src="~/Content/img/adlisting2.gif" class="img img-responsive" style=" height:500px;" />*@
    </div>

    

    <div class=" col-md-6">
        @*<div class="col-md-5" style="margin-left:20px;">*@
        @*<img src="@Url.Content(@Model.pro_image)" style="width:500PX; height:350PX; margin-left:500px" />*@
        @*</div>*@
        <div>
            <h1>@Model.pro_name <small></small></h1>
        </div>

        @*<img src="@Url.Content(@Model.pro_image)" style="width:500PX; height:350PX; margin-left:0px" />*@
        <img src="@Url.Content(@Model.pro_image)" style="width:500px; height:350px; margin-left:10px" />

        <h1>Description: </h1>
        <p>@Model.pro_des</p>



        <b></b>

        @*<table>

            <tr> <td><b><h4>Scientific Name:</h4></b></td><td>@Model.pro_Sname </td></tr></
            <tr> <td><h4>Category:</h4></td><td>@Model.cat_name</td></tr>
            <tr> <td>Posted by: </td> <td>@Model.u_name <img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" /> </td> </tr>
            <tr> <td><h4>Growing zone: </h4></td> <td>@Model.pro_place </td> </tr>
            <tr>
                <td colspan="2">
                    @if (Convert.ToInt32(Session["u_id"]) == Convert.ToInt32(Model.pro_fk_user))
                    {

                        @Html.ActionLink("Close this Ad", "DeleteAd", new { @class = "btn btn-info", id = Model.pro_id })



                    }
                </td>
            </tr>

        </table><b />*@


        @*<table>

            <tr> <td><b><h4>Scientific Name:</h4></b></td><td>@Model.pro_Sname </td></tr></
            <tr> <td><h4>Category:</h4></td><td>@Model.cat_name</td></tr>
            <tr> <td>Posted by: </td> <td>@Model.u_name <img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" /> </td> </tr>
            <tr> <td><h4>Growing zone: </h4></td> <td>@Model.pro_place </td> </tr>
            <tr>
                <td colspan="2">
                    @if (Convert.ToInt32(Session["u_id"]) == Convert.ToInt32(Model.pro_fk_user))
                    {

                        @Html.ActionLink("Close this Ad", "DeleteAd", new { @class = "btn btn-info", id = Model.pro_id })



                    }
                </td
            </tr>

        </table><b />

        @*<img src="@Url.Content(@Model.pro_image)" style="width:500PX; height:350PX; margin-left:500px" />*@

        @*<img src="@Url.Content(@Model.pro_image)" style="width:500PX; height:350PX; margin-left:500px" />*@

    </div>




    <div class=" col col-md-2">

        <table>

            <tr> <td><b><h4>Scientific Name:</h4></b></td><td>@Model.pro_Sname </td></tr></
            <tr> <td><h4>Category:</h4></td><td>@Model.cat_name</td></tr>
            @*<tr> <td>Posted by: </td> <td>@Model.u_name <img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" /> </td> </tr>*@
            <tr> <td><h4>Growing zone: </h4></td> <td>@Model.pro_place </td> </tr>
            <tr>
                <td colspan="2">
                    @if (Convert.ToInt32(Session["u_id"]) == Convert.ToInt32(Model.pro_fk_user))
                    {

                        @Html.ActionLink("Close this Ad", "DeleteAd", new { @class = "btn btn-info", id = Model.pro_id })



                    }
                </td>
            </tr>

        </table>



        @*<img src="@Url.Content(@Model.pro_requiremnet)" style="width:1400PX; height:650PX; margin-right:10px;margin-top:20px" />*@
    </div>


    </div>
